body {
    background: rgb(96,162,145);
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: rgb(130,0,0);
    padding: 0.5em 1em;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: rgba(255, 255, 255, 0.87);
}

.deleteButton{
    margin-left: 10px;
    color: white;
    background-color: rgba(52, 114, 162, 1);
    font-family: cursive;
}
