body {
    background: #8cff53;
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #9b32ff;
    padding: 0.5em 1em;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: rgba(140, 255, 83, 0.87);
}

.button {
    background-color: #9b32ff;
    color: rgba(140, 255, 83, 0.87);
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #000000;
}

.filter-button {
    background-color: rgba(140, 255, 83, 0.87);
    color: #9b32ff;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #000000;
}


.incomplete-counter {
    padding: 10px;
    background-color: #4a412a;
    color: white;
}

.completed-item {
    color: rgba(255, 0, 0, 0.87);
}
