body {
    background: rgb(250, 250, 190);
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #00FFFF;
    padding: 0.5em 1em;
}

section,
h1 {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: #1CA9C9;
}